body{
    background: linear-gradient(110deg, #c9c3c3 50%, #b0f1aa 50%);
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: right;
}
h3{
    text-align: left;
    font-size: 20px;
}
h4{
    text-align: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h5{
    text-align: left;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
h6{
    text-align: left;
    font-size: 15px;
}
p{
    text-align: right;
}